@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Open Sans", sans-serif;
}

.activeNav a.active {
    color: white;
    background-color: green;
    padding: 6px 10px;
    border-radius: 5px;
    
}

.styleText {
    font-family: "Dancing Script", cursive;
}

